
:root {
    --primary-color: #0077b6;
    --secondary-color: #90e0ef;
    --accent1-color: #023e8a;
    --accent2-color: #f4a261;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background: linear-gradient(
        to bottom,
        #f8fdff,
        #cff5ff,
        #ccf5ff
    );
}

header, main, footer {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}


.grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.logo {
    max-height: 100px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    font-size: 1.3rem;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
    transition: 0.2s;
}

nav a:hover {
    color: var(--primary-color);
}


h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

p, section, article {
    margin: 16px;
    padding: 8px;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    opacity: 0.85;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: var(--accent1-color);
    color: white;
    padding: 10px;
    opacity: 0.85;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
}

.history-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.history-image img {
    max-width: 200px;
    height: auto;
    display: block;
}


.adventures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.adventures figure {
    flex: 1 1 180px;
    max-width: 220px;
    text-align: center;
}

.adventures img {
    width: 100%;
    border-radius: 6px;
}

.adventures figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
}


.contact {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 5px;
    margin-top: 20px;
}

.map-section {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.iframe-container {
    width: 100%;
    height: 100%;
}

.form-container {
    width: 100%;
}

.contact-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.form-row {
    display: grid;
    grid-template-columns: 130px 1fr;
    margin-bottom: 14px;
}

.form-row label {
    font-weight: 600;
    padding-right: 10px;
    text-align: right;
    margin-top: 6px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
}

textarea {
    height: 80px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Buttons */
.submit-btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #f3f3f3;
    cursor: pointer;
}

.employee-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.employee-container figure {
    flex: 1 1 180px;
    max-width: 220px;
    text-align: center;
}

.employee-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.main-trip {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.trip-card{
    flex: 1 1 180px;
    max-width: 220px;
    text-align: center;
}

.trip-card img{
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.trip-table{
  margin: 0 auto;
  width: 100%;
}
 
thead.table-info th {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 1.2rem;
    padding: 12px;
}

tbody.table-info td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: var(--accent1-color);
    text-align: center;
}

tbody.table-info tr:nth-child(even) {
    background-color: #f7f7f7;
}

tbody.table-info tr:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

footer {
    border-top: 1px solid black;
    margin-bottom: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

footer p {
    margin: 0;
    flex: 1;
}

footer .socialmedia {
    display: flex;
    gap: 10px;
}

footer .socialmedia img {
    width: 40px;
}