:root{
    --primary-color:#0077b6; /* deep river blue */
    --secondary-color:#90e0ef; /* light aqua */
    --accent1-color: #023e8a;   /* bold navy */
    --accent2-color: #f4a261;   /* warm sand */
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font:Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem;
}

.logo{
    max-height: 100px;

}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

nav{
  display: flex;
  justify-content: center;
  gap: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.hero article{
    background-color: var(--accent1-color);
    color: white;
    opacity: 0.85;
    position: absolute;
    bottom: 150px;
}

.hero article img{
    float: right;
    width: 125px;
    height: auto;
    }

h2{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.history-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.history-image img {
    width: 200px;
    height: auto;
    display: block;
}


.adventures {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.adventures figure {
  flex: 1 1 calc(20% - 1rem);
  text-align: center;
}

.adventures img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.adventures figcaption {
  margin-top: 0.5rem;
  font-weight: bold;
}


footer{
    border-top: 1px solid black;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
    text-align: center;
    flex: 1;
}

footer .socialmedia {
    display: flex;
    gap: 10px;
}

footer .socialmedia img {
    width: 40px;
    height: auto;
}