:root{
    --border: 1px solid rgb(0 0 0 /0.4);
    --padding: 15p;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
}

main{
    max-width: 840px;
    font-family: var(--heading-font);
}

nav{
    background-color: darkblue;
    padding: var(--padding);
}

nav a{
    color: white;
    display: block;
    padding: var(--padding);
}

h1{
    color: darkblue;
}

main img{
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee ;
    color: #333 ;
    text-align: center;
    font-family: var(--heading-font);
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #333;
    text-align: center;
}

