*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border: 1px solid rgb(0 0 0 /0.4);
    --padding: 15px;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
}

main{
    max-width: 840px;
    font-family: var(--heading-font);
    position: relative;
}

header, .grid ,footer{
    max-width: 840px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav{
    background-color: darkblue;
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a{
    color: white;
    display: block;
    padding: var(--padding);
    font-family: var(--heading-font);
    text-decoration: none;
    padding: 0.3rem;
    font-size: 1.3rem;
    font-weight: 700;
}

h1{
    color: darkblue;
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

main img{
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p{
    padding: 0;
}

aside{
    width: 20rem;
    color: #333 ;
    text-align: center;
    font-family: var(--heading-font);
    position: relative;
    grid-column: 1;
    grid-row: 1;

}

aside h2{
position: absolute;
top: 15px;
left: 85px;
color: azure;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #333;
    text-align: center;
    font-family: var(--heading-font);
}

/* Class Selectors */

.box{
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #f3e2e2;
}