.callout {
    max-width: 450px;
    margin: 15px;
    border: 1px solid #333;
    padding: 20px;
    background-color: #224477 ;	
    color: antiquewhite;
}

.callout img {
	float: right;
    margin: 0 0 10px 20px;
    border: 1px solid black;
    padding: 3px;
    background-color: antiquewhite;
    width: 130px;
    height: auto;

}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dotted antiquewhite;
    padding-top: 5px;
    text-align: right;
    font-size: 15px;
}